*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #c7c7c7;
}

.container{ 
    /* em tela cheia */
    /* width: 100%;
    height: 100vh; */
    width: 900px;
    height: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, 
                rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, 
                rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, 
                rgba(0, 0, 0, 0.06) 0px 2px 1px, 
                rgba(0, 0, 0, 0.09) 0px 4px 2px, 
                rgba(0, 0, 0, 0.09) 0px 8px 4px, 
                rgba(0, 0, 0, 0.09) 0px 16px 8px, 
                rgba(0, 0, 0, 0.09) 0px 32px 16px;
    overflow: hidden;
}

.container .slides{
    width: 500%;
    height: 100%;
    display: flex;
}

.slides .slide{
    width: 20%;
    transition: 0.6s;
}

.slide img{
    width: 100%;
    height: 100%;
}

.slides input{
    /* display: none; */
    position: absolute;
    visibility: hidden;
}

.navigation{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%);
    display: flex;
}

.navigation .bar{
    width: 30px;
    height: 3px;
    border-radius: 3px;
    background-color: #c0c0c0;
    margin: 5px;
    cursor: pointer;
    transition: 0.4s;
}

.bar:hover{
    background-color: #fff;
    transform: scale(1.1);
}

#radio1:checked ~ .s1{
    margin-left: 0;
}
#radio2:checked ~ .s1{
    margin-left: -20%;
}
#radio3:checked ~ .s1{
    margin-left: -40%;
}
#radio4:checked ~ .s1{
    margin-left: -60%;
}
#radio5:checked ~ .s1{
    margin-left: -80%;
}

#radio1:checked ~ .navigation .bar1{
    background-color: #fff;
}
#radio2:checked ~ .navigation .bar2{
    background-color: #fff;
}
#radio3:checked ~ .navigation .bar3{
    background-color: #fff;
}
#radio4:checked ~ .navigation .bar4{
    background-color: #fff;
}
#radio5:checked ~ .navigation .bar5{
    background-color: #fff;
}
